body {width: 80%;
  margin: auto;
  padding:1em;
  background: white;
}

#login {text-align: right; }
#mainOrganSelector {
	font-weight:bold;
	text-align:right; 
}

#lock {float:left; width: 33%; text-align:left; }

#publishFrame {float:left;
	    text-align:right;
	    width:33%}

#sendmail {float:left;
	  width: 33%;
	  text-align:center;
	  margin-left:auto;
	  margin-right:auto; }

#menubar {
	justify-content: space-between;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-right: 0em;
}

.emailedit {
	width: 80em;
	height: 50em;
}


h1 {text-align: center;}

a:link {
 color:#F57C14;
 font-weight:bold;
 text-decoration:none;
}
a:visited {
 color:#A54C00; 
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #000000;
  text-decoration: none;
  padding:0.2em;
}

html {
 background: #F57C14 ;
}

#footer {
text-align:center; 
width:100%;
margin-left:auto; 
margin-right:auto; 
margin-top:10em;
}

ol li {
  padding:0.2em;
}
ol li ul {
  display: table;
  width:100%;
  list-style-type: none;

}

ol li ul li {
  float:left;
  width:20%;
  display: table-cell;
}

.loginelement {
  width:8em;
  float:left;
}
