body {width: 80%;
  margin: auto;

}

#login {text-align: right; }
#mainOrganSelector {text-align:right; width:15%;margin-left:auto; margin-right:0em;}

#lock {float:left; width: 33%; text-align:left; }

#publishFrame {float:left;
	    text-align:right;
	    width:33%}

#sendmail {float:left;
	  width: 33%;
	  text-align:center;
	  margin-left:auto;
	  margin-right:auto; }

h1 {text-align: center;}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #000000;
  text-decoration: none;
  padding:0.2em;
}
