body {width: 80%;
  margin: auto;
  padding:1em;
  background: white;
}

#login {text-align: right; }
#mainOrganSelector {font-weight:bold;text-align:right; width:15%;margin-left:auto; margin-right:0em;}

#lock {float:left; width: 33%; text-align:left; }

#publishFrame {float:left;
	    text-align:right;
	    width:33%}

#sendmail {float:left;
	  width: 33%;
	  text-align:center;
	  margin-left:auto;
	  margin-right:auto; }

h1 {text-align: center;}

a:link {
 color:#F57C14;
 font-weight:bold;
 text-decoration:none;
}
a:visited {
 color:#A54C00; 
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #000000;
  text-decoration: none;
  padding:0.2em;
}

html {
 background: #F57C14 ;
}

#footer {
text-align:center; 
width:100%;
margin-left:auto; 
margin-right:auto; 
margin-top:10em;
}